<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit entry</title>
  </head>
  <body>
    <h1>Edit leaderboard entry for <%= data.id %></h1>
    <div>
      <form action="/entries/<%= data.id %>?_method=PUT" method="POST">
        <div>
          Name: <input type="text" name="name" value="<%= data.name %>">
        </div>
        <div>
          Score: <input type="text" name="score" value="<%= data.score %>">
        </div>

        <button type="submit">Save changes</button>
      </form>
    </div>

  </body>
</html>
